<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="http://www.bestlifebestyue.com/static/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {{> cssresource}}
</head>

<body>
    <div class="container">
        <aside class="xy_aside">
            <div class="xy_aside_content">
                <div class="xy_logo_image">
                    <img src="http://www.bestlifebestyue.com/file-manage/img/logo-image.jpg" alt="">
                </div>
                <div class="user_title">
                    <p class="user_title_big">{{name}}</p>
                    <p class="user_title_desc">{{selfDesc}}</p>
                </div>
                <div class="xy_menu">
                    {{#each menus}}
                        <div class="menu_item">
                            <a href="{{this._id}}">{{this.name}}</a>
                        </div>
                    {{/each}}
                </div>
                <div class="icons_wrapper">
                    {{#each icons}}
                        <i class="iconfont icon-{{this}}"></i>
                    {{/each}}
                </div>
                <div class="menu_footer">
                    <p>浙ICP备17024525号</p>
                </div>
            </div>
        </aside>
        <div class="xy_content">
            <div class="self_wrapper content_item">
                <h3 class="h3" id="self">自我介绍</h3>
                <div class="line"></div>
                <article>
                    浙西人士，现居杭州。
                    文科出身，从事编程。
                    平日最爱，睡觉干饭。
                    网游主机，人菜瘾大。
                    爱好广泛，无一精通。
                </article>
            </div>
            <div class="gallery_wrapper content_item">
                <div class="gallery_content">
                    <h3 class="h3" id="gallery">作品集合</h3>
                    <div class="line"></div>
                    <div class="gallery_content_wrapper">
                        {{#each galleryImgList}}
                            <div class="gallery_item">
                                <img src="{{this.imgUrl}}" alt="图片加载失败……" srcset="">
                                <div class="gallery_item_content">
                                    <h3>{{this.title}}</h3>
                                    <p>{{this.desc}}</p>
                                    <a href="{{this.url}}" target="_blank" rel="noopener noreferrer">点击前往 >>></a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="contact_wrapper content_item">
                <h3 class="h3" id="contact">联系一下</h3>
                <div class="line"></div>
                <p>desc</p>
                <div class="contact_content">
                    <input type="text" class="name" placeholder="想让我怎么称呼你……">
                    <input type="text" class="email" placeholder="留下联系方式……">
                    <input type="text" class="subject" placeholder="标题……">
                    <textarea name="" id="" cols="30" rows="10" placeholder="想说的话……"></textarea>
                    <div class="btn_wrapper">
                        <button>发  送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://www.bestlifebestyue.com/file-manage/js/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {{> jsresource}}
    <script>
        $('.gallery_item').click(function() {
            let _a = $(this).find('a')
            let url = $(_a).attr("href") || '/'
            window.location.href = url
        })
        $('.menu_item').click(function() {
            let _id = $(this).attr('id')
        })
        $('.xy_logo_image').click(function() {
            window.location.href = '/'
        })
    </script>
</html>